<!-- Brands -->
<section class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Marca</h2>
		</header>
		<!-- Slider main container -->
		<div class="swiper" id="swiper">			
		</div>
</section>			
<!-- Fuels -->
<section class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Combustible</h2>
		</header>
		<div class="row" id="root-fuels"></div>

	</div>
</section>
<!-- Categories -->
<section class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Categorias</h2>
		</header>
		<div class="row" id="root-types"></div>
	</div>
</section>

<!-- Noticias -->
<!-- key=496f742b965e88ec8fbcf250f0e26959 -->
<!-- https://gnews.io/api/v4/search?q=coches&lang=es&token=496f742b965e88ec8fbcf250f0e26959 -->
<section class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Noticas</h2>
		</header>
		<div class="row" id="root-news"></div>
	</div>
</section>