<br>
<br>
<div id="root_form">
    <div class="cont_recover">
        <div id="root_recover" class="recover_div">
            <h2>Recuperar contraseña</h2>
            <label>                    
                <input type="email" id="email" class="input email" placeholder="Correo recuperación" autocomplete="off"/>
                <span id="error_rec_email" class="error"></span>
            </label>
            <button type="button" id="rec_email" class="submit">Enviar correo</button>
        </div>
    </div>
</div>