<br>
<br>
    <div class="cont">
        <div class="form login_p sign-in">
            <h2>Bienvenido</h2>
                <label>
                    <span id="error_login" class="error"></span>                
                </label>
                <label>                
                    <input type="text" id="log_username" class="input login" placeholder="Usuario" autocomplete="off"/>
                    <span id="error_log_username" class="error"></span>
                </label>
                <label>        
                    <div class="input_password">
                        <img id="password_image" show="false">
                        <input type="password" id="log_password" class="input login" placeholder="Contraseña" autocomplete="off"/>
                    </div>        
                    <span id="error_log_password" class="error"></span>
                </label>
                <p id="forgot-pass" class="forgot-pass">¿Has olvidado tu contraseña?</p>
                <button type="button" id="login" class="submit">Iniciar Sesion</button>
                <div id="social_login" class="social_login"> 
                    <div class="white-line"></div>
                    <i id="github" class="fa-brands fa-github fa-3x rrss_img zoom"></i>
                    <i id="google" class="fa-brands fa-google fa-3x rrss_img zoom"></i>
                </div>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                 
                    <h3>¿Todavía no tienes cuenta?</h3>
                    <h3>¡Registrate!</h3>
                </div>
                <div class="img__text m--in">
                
                    <h3>Si ya tienes cuenta, inicia sesión.<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Registrarse</span>
                    <span class="m--in">Iniciar Sesion</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Crea tu cuenta</h2>
                <span id="error_reg" class="error"></span>
                <label>                    
                    <input type="text" id="reg_username" class="input register" placeholder="Usuario" autocomplete="off"/>
                    <span id="error_reg_username" class="error"></span>
                </label>
                <label>                    
                    <input type="email" id="reg_email" class="input register" placeholder="Correo" autocomplete="off"/>
                    <span id="error_reg_email" class="error"></span>
                </label>
                <label>  
                    <div class="input_password">
                        <img id="password_image" show="false">
                        <input type="password" id="reg_password" class="input register" placeholder="Contraseña" autocomplete="off"/>
                    </div>                    
                    <span id="error_reg_password" class="error"></span>
                </label>
                <label>
                    <div class="input_password">
                        <img id="password_image" show="false">
                        <input type="password" id="reg_password_2" class="input register" placeholder="Repetir contraseña" autocomplete="off"/>
                    </div>                     
                    <span id="error_reg_password_2" class="error"></span>
                </label>
                <button type="button" id="register" class="submit">Registrarse</button>
                
            </div>
        </div>
    </div>