<br>
<br>
<div id="root_form">
    <div class="cont_recover">
        <div id="root_recover" class="recover_div">
            <h2>Cambiar contraseña</h2>
            <label>  
                <div class="input_password">
                    <img id="password_image" class="img_recover" show="false">
                    <input type="password" id="rec_password" class="input recover" placeholder="Contraseña" autocomplete="off"/>
                </div>                    
                <span id="error_rec_password" class="error"></span>
            </label>
            <label>
                <div class="input_password">
                    <img id="password_image" show="false">
                    <input type="password" id="rec_password_2" class="input recover" placeholder="Repetir contraseña" autocomplete="off"/>
                </div>                     
                <span id="error_rec_password_2" class="error"></span>
            </label>
            <button type="button" id="recover" class="submit">Aplicar cambios</button>
        </div>
    </div>
</div>